.directory
.DS_Store
desktop.ini
Rplots.pdf
git-truncate.sh
*#
.#*
*.aux
*.log
*.bcf
*.run.xml
*.bbl
*.blg
*.synctex.gz
*.pyc
*.dvi
*.out.ps
.Rhistory
.RData
*~
__*
_region_.*
prv_*
_data*/
_region_.prv/
.auctex-auto/
auto/
fontconfig/
.backups/
docs/
inst/doc
.lintr
