.DS_Store
desktop.ini
*#
.#*
*.aux
*.log
*.bcf
*.run.xml
*.bbl
*.blg
*.synctex.gz
*.pyc
*.dvi
*.out.ps
.Rhistory
.RData
Rplots.pdf
*~
_*
_region_.*
prv_*
_data*/
_region_.prv/
.auctex-auto/
auto/
fontconfig/
.backups/
